In [1]:
import pandas as pd
contribution_data={
    'contributors':['Samaherf','AmullyaPatil','Arthur1411','Sou26','Priyankakarror','nitya-kulkarni','sidra-quadri'],
    'contributions':[8,5,3,2,1,1,1]
}
df=pd.DataFrame(contribution_data)
df

     contributors  contributions
0        Samaherf              8
1    AmullyaPatil              5
2      Arthur1411              3
3           Sou26              2
4  Priyankakarror              1
5  nitya-kulkarni              1
6    sidra-quadri              1